<ion-view view-title="Detalhe do Processo">

    <ion-content has-header="true">

        <div class="button-tabs">
            <div class="button-bar">
                <button class="button button-small btn-atualizar">
                    Atualizar
                </button>
                <a class="button button-small btn-anotacoes" href="#/app/processos/{{processo.id}}/notes">
                    Cliente
                </a>
                 <a class="button button-small btn-anotacoes" href="#/app/processos/{{processo.id}}/notes">
                    Anotações
                </a>
            </div>
        </div>

        <section class="box-processo">
            <div class="box-detail-processo item-widget">
                <div class="widget-header">
                    <h4 class="titulo">TJSP Completo 000109…</h4>
                </div>
                <div class="widget-body">
                    <ul class="widget-list-info">
                        <li>
                            <div class="info-title">
                                <p>Processo</p>
                            </div>
                            <div class="info-detail">
                                <p>(068.01.2012.001092),0001092.068.01.2012.001092</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Classe</p>
                            </div>
                            <div class="info-detail">
                                <p>Recuperação Judicial</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Atualizado</p>
                            </div>
                            <div class="info-detail">
                                <p>28/10/2015</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="box-detail-partes item-widget">
                <div class="widget-header">
                    <h4 class="titulo">Partes</h4>
                </div>
                <div class="widget-body">
                    <ul class="widget-list-info">
                        <li>
                            <div class="info-title">
                                <p>Autor</p>
                            </div>
                            <div class="info-detail">
                                <p>Filipe Raiz</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Advogado</p>
                            </div>
                            <div class="info-detail">
                                <p>Daniel Guimaraes</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Réu</p>
                            </div>
                            <div class="info-detail">
                                <p>Gustavo Carvalho</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="box-detail-movimentacao item-widget">
                <div class="widget-header">
                    <h4 class="titulo">Movimentações</h4>
                </div>
                <div class="widget-body">
                    <ul class="widget-list-info ">
                        <li>
                            <div class="info-detail desc">
                                <span>29/10/2015</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-detail desc">
                                <span>29/10/2015</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-detail desc">
                                <span>29/10/2015</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-detail desc">
                                <span>29/10/2015</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-detail desc">
                                <span>29/10/2015</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>





