<ion-view view-title="Detalhe do Cliente">

    <!-- nav header button -->
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-ios-compose-outline" ng-href="#/app/clientes/editar/{{ cliente.id }}"></a>
    </ion-nav-buttons>
    <!-- nav header button -->
    <ion-content has-header="true">
        <section class="box-cliente">
            <div class="box-detail-cliente item-widget">
                <div class="widget-header">
                    <h4 class="titulo">{{ cliente.name }}</h4>
                </div>
                <div class="widget-body">
                    <ul class="widget-list-info">
                        <li>
                            <div class="info-picture">
                                <p><img ng-src="{{ cliente.picture }}"></p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Sexo</p>
                            </div>
                            <div class="info-detail">
                                <p>{{ cliente.sex_display }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Tipo</p>
                            </div>
                            <div class="info-detail">
                                <p>{{ cliente.type_display }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Cpf</p>
                            </div>
                            <div class="info-detail">
                                <p>{{ cliente.cpf }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Email</p>
                            </div>
                            <div class="info-detail">
                                <p>{{ cliente.email }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Data de nascimento</p>
                            </div>
                            <div class="info-detail">
                                <p>{{ cliente.birthdate|date:'dd/MM/y' }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Tel. Celular</p>
                            </div>
                            <div class="info-detail">
                                <p>{{ cliente.cellphone }}</p>
                            </div>
                        </li>
                        <li ng-hide="!cliente.residencial_phone">
                            <div class="info-title">
                                <p>Tel. Res</p>
                            </div>
                            <div class="info-detail">
                                <p>{{ cliente.residencial_phone }}</p>
                            </div>
                        </li>
                        <li ng-hide="!cliente.comercial_phone">
                            <div class="info-title">
                                <p>Tel. Trabalho</p>
                            </div>
                            <div class="info-detail">
                                <p>{{ cliente.comercial_phone }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Endereço</p>
                            </div>
                            <div class="info-detail">
                                <p>{{ cliente.address }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
<!--
            <div class="box-detail-processo item-widget">
                <div class="widget-header">
                    <h4 class="titulo">Processos envolvido</h4>
                </div>
                <div class="widget-body">
                    <ul class="widget-list-info">
                        <li>
                            <div class="info-title">
                                <p>Processo</p>
                            </div>
                            <div class="info-detail">
                                <p>
                                    <a href="#/app/processos/{{processo.id}}">(068.01.2012.001092),0001092.068.01.2012.001092</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="info-title">
                                <p>Processo</p>
                            </div>
                            <div class="info-detail">
                                <p>
                                    <a href="#/app/processos/{{processo.id}}">(068.01.2012.001092),0001092.068.01.2012.001092</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

-->


        </section>
    </ion-content>
</ion-view>

